* :not(codediv){
    text-align: left;
    font-size:20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(66, 19, 19);

}

h1 {
    font-size: 3em;
    text-align: center;
    background-image: url(pictures/apples.jpg);
    padding: 3%;
    margin: -10px;
    margin-bottom: 0px;
    color: rgb(250, 244, 244);
    -webkit-text-stroke: 2.2px rgb(66, 19, 19);
}

p {
    font-size: 125%;
}

body {
    background-color: rgb(225, 192, 192);

}

.center {
    text-align: center;

}
.paratext {
    text-align: left;
    padding-left: 30px;

}
.header {
    font-size: 2.5em; 
    background-image: none;
    margin-bottom: -20px;
}
.paradiv {
    width: 60%;
    border-radius: 6%;
    margin: auto;
    text-align: center;
}
.onright {
    padding-left: 56%;
}
.onleft {
    padding-right: 46%;
} 
.codediv {
    font-family: monospace;
    border: 1px solid rgb(66, 19, 19);
    font-size: 18px;
    width: 88%;
    color: rgb(250, 244, 244);
    background-color: rgba(84, 25, 25, 0.745);
    border-radius: 5%;
    text-align: left;
    height: 600px;
    overflow: auto;
    padding: 20px;
    margin-top: -150px;
}
.comment {
    font-family: monospace;
    font-size: 18px;
    color: rgba(235, 227, 227, 0.733);
}